@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2"); }

@font-face {
  font-family: "Lato-Regulary";
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2"); }

@font-face {
  font-family: "Lato-Light";
  src: url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.woff2") format("woff2"); }

@font-face {
  font-family: "Lato-Italic";
  src: url("../fonts/Lato-Italic.woff") format("woff"), url("../fonts/Lato-Italic.woff2") format("woff2"); }

.position-static {
  position: static; }

a:hover {
  text-decoration: none; }

.padding-0 {
  padding-right: 0;
  padding-left: 0; }

.padding-r {
  padding-right: 30px; }

.padding-l {
  padding-left: 15px; }

.margin-r-l {
  margin-right: 0;
  margin-left: 0; }

@-webkit-keyframes animMenu {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px); }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px); } }

@keyframes animMenu {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px); }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px); } }

header {
  padding-top: 50px;
  position: relative;
  background-image: url(../img/bg-header.jpg);
  background-size: cover;
  background-position: 50% 50%;
  min-height: 800px; }

.logo-mobile-screen {
  display: none; }

.logotype {
  margin-top: -25px; }

.top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .top-menu a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    padding: 5px 0;
    text-transform: uppercase; }
    .top-menu a:hover {
      color: #3b3b3b; }

.btn-top-menu {
  width: 40px;
  height: 32px;
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  position: relative;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s; }
  .btn-top-menu:focus {
    outline: none;
    -webkit-box-shadow: 0 0 20px #fff;
            box-shadow: 0 0 20px #fff; }
  .btn-top-menu span {
    display: block;
    background: #000;
    width: 40px;
    height: 8px;
    position: absolute;
    border-radius: 10px;
    -webkit-transition: all .5s;
    transition: all .5s; }
  .btn-top-menu span:nth-child(2) {
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }
  .btn-top-menu span:nth-child(1) {
    top: 0; }
  .btn-top-menu span:nth-child(3) {
    bottom: 0; }

.cont-btn-top-menu {
  display: none;
  position: absolute;
  top: 30px;
  right: 5%;
  z-index: 100; }

.top-menu-active span:nth-child(2) {
  display: none; }

.top-menu-active span:nth-child(1) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.top-menu-active span:nth-child(3) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.section-about-us-block-title {
  padding-top: 100px;
  padding-bottom: 130px;
  background: #f7f7f7; }

.section-about-us-title {
  font-family: "Lato-Bold", Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #353738;
  padding-top: 80px;
  padding-bottom: 20px;
  position: relative; }
  .section-about-us-title:before {
    content: '';
    display: block;
    width: 52px;
    height: 43px;
    background-image: url(../img/sprite/sprite.png);
    background-position: -187px -77px;
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }

.section-about-us-text {
  font-family: "Lato-Regula", Arial, sans-serif;
  font-size: 18px;
  color: #848789;
  line-height: 34px; }

.block-bicycles-1 {
  min-height: 600px; }

.bicycle-logo-1 {
  background-image: url(../img/bicycle-1.jpg);
  background-position: 50% 50%;
  background-size: cover;
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.bicycles-description {
  padding-top: 102px;
  padding-right: 65px;
  padding-left: 65px;
  height: 400px;
  overflow: auto;
  position: relative; }
  .bicycles-description:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    bottom: -28px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    border: 18px solid transparent;
    border-top: 15px solid #ffffff;
    z-index: 100; }

.bicycles-description-title {
  font-family: "Lato-Bold", Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #353738;
  line-height: 34px;
  position: relative; }

.description-title-bike-1:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: -50px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-image: url(../img/sprite/sprite.png);
  background-position: -310px -77px;
  width: 41px;
  height: 30px; }

.bicycles-description-text {
  font-family: "Lato-Regula", Arial, sans-serif;
  font-size: 16px;
  color: #848789;
  line-height: 30px;
  position: relative; }
  .bicycles-description-text:after {
    content: '';
    display: block;
    width: 50px;
    height: 1px;
    background-color: #d7d7d7;
    position: absolute;
    left: 50%;
    bottom: -30px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }

.bicycles-1-description-saddle {
  min-height: 200px;
  background-image: url(../img/saddle-1.jpg);
  background-position: 50% 50%;
  background-size: cover; }

.description-title-bike-2:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: -50px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-image: url(../img/sprite/sprite.png);
  background-position: -258px -162px;
  width: 32px;
  height: 32px; }

.bicycle-logo-2 {
  background-image: url(../img/bicycle-2.jpg);
  background-position: 50% 50%;
  background-size: cover;
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.bicycles-2-description-saddle {
  min-height: 200px;
  background-image: url(../img/saddle-2.jpg);
  background-position: 50% 50%;
  background-size: cover; }

.description-title-bike-3:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: -50px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-image: url(../img/sprite/sprite.png);
  background-position: -123px -206px;
  width: 23px;
  height: 41px; }

.bicycle-logo-2 {
  background-image: url(../img/bicycle-3.jpg);
  background-position: 50% 50%;
  background-size: cover;
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.bicycles-3-description-wheal {
  min-height: 200px;
  background-image: url(../img/wheal.jpg);
  background-position: 50% 50%;
  background-size: cover; }

.bike-3-img {
  min-height: 600px;
  background-image: url(../img/bicycle-3.1.jpg);
  background-position: 50% 50%;
  background-size: cover; }

.bicycles-3-description-wheal {
  min-height: 200px;
  background-image: url(../img/bike-3-wheal.jpg);
  background-position: 50% 50%;
  background-size: cover; }

.section-Twitter-carousel {
  padding-top: 90px;
  padding-bottom: 70px;
  min-height: 500px; }

.owl-stage-outer {
  padding-top: 20px; }

.owl-dots {
  width: 100px;
  margin: auto;
  text-align: center;
  padding-top: 100px; }

.owl-carousel .owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #a9afb3;
  display: inline-block;
  margin-right: 9px; }

.owl-carousel .owl-dot:last-child {
  margin-right: 0; }

.owl-dot.active {
  background-color: #a9afb3; }

.section-Twitter-carousel-icon {
  display: inline-block;
  background-image: url(../img/sprite/sprite.png);
  background-position: -361px -77px;
  width: 32px;
  height: 27px;
  margin-bottom: 25px; }

.section-Twitter-carousel-title {
  font-family: "Lato-Bold", Arial, sans-serif;
  font-size: 18px;
  color: #353738; }

.section-Twitter-carousel-title-uper {
  text-transform: uppercase; }

.active span:nth-child(2) {
  display: inline-block; }

.section-Twitter-carousel-title-light {
  font-family: "Lato-Light", Arial, sans-serif;
  color: #848789;
  display: inline-block; }

.section-Twitter-carousel-text {
  font-family: "Lato-Italic", Arial, sans-serif;
  font-size: 18px;
  color: #848789; }

.section-shop {
  padding-bottom: 100px; }

.section-shop-goods-1, .section-shop-goods-2, .section-shop-goods-3,
.section-shop-goods-6, .section-shop-goods-7, .section-shop-goods-8 {
  min-height: 267px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-clip: padding-box; }

.section-shop-goods-4, .section-shop-goods-5 {
  min-height: 535px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-clip: padding-box; }

.section-shop-goods-1 {
  background-image: url(../img/img-section-shop-1.jpg); }

.section-shop-goods-2 {
  background-image: url(../img/img-section-shop-2.jpg); }

.section-shop-goods-3 {
  background-image: url(../img/img-section-shop-3.jpg); }

.section-shop-goods-4 {
  background-image: url(../img/img-section-shop-4.jpg); }

.section-shop-goods-5 {
  background-image: url(../img/img-section-shop-5.jpg); }

.section-shop-goods-6 {
  background-image: url(../img/img-section-shop-6.jpg); }

.section-shop-goods-7 {
  background-image: url(../img/img-section-shop-7.jpg); }

.section-shop-goods-8 {
  background-image: url(../img/img-section-shop-8.jpg); }

.shop-now {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  display: block; }
  .shop-now:hover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    .shop-now:hover:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      background-color: #64c29e;
      position: absolute;
      z-index: 100;
      top: 0;
      left: 0; }
    .shop-now:hover:before {
      content: '';
      background-image: url(../img/icon-shop-now.png);
      background-repeat: no-repeat;
      min-width: 105px;
      min-height: 65px;
      color: #fff;
      position: absolute;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      top: 50%;
      z-index: 150;
      opacity: 1; }

.section-shop-discover-shop {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #282f35; }

.section-shop-discover-shop-btn {
  display: inline-block;
  border: 1px solid #94979a;
  padding-left: 69px;
  padding-right: 65px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  background: #282f35;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .section-shop-discover-shop-btn:hover {
    color: #fff;
    -webkit-box-shadow: 0 0 2px #fff,0 0 10px 3px #1d2124;
            box-shadow: 0 0 2px #fff,0 0 10px 3px #1d2124; }

.section-mailing {
  padding-bottom: 115px; }

.section-mailing-text {
  font-family: "Lato-Italic", Arial, sans-serif;
  font-size: 24px;
  color: #848789;
  line-height: 34px;
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 25px; }

.section-mailing-form input[type="email"] {
  border: 1px solid #d3d7d9;
  font-family: "Lato-Italic", Arial, sans-serif;
  font-size: 20px;
  padding-top: 19px;
  padding-bottom: 23px;
  color: #848789;
  padding-left: 22px;
  padding-right: 22px;
  width: 400px;
  height: 70px; }

.section-mailing-form input[type="submit"] {
  border: 0;
  background-color: #64c29e;
  color: #fff;
  padding: 24px 45px;
  cursor: pointer; }

.footer {
  background-color: #f7f7f7;
  padding-top: 95px;
  padding-bottom: 95px; }

.block-address {
  color: #848789; }

.footer-address-name {
  font-family: "Lato-Bold", Arial, sans-serif;
  font-size: 16px; }

.footer-address {
  font-family: "Lato-Italic", Arial, sans-serif;
  font-size: 13.5px; }

.block-address-text-uppercase {
  text-transform: uppercase; }

.footer-address-email {
  color: inherit; }
  .footer-address-email:hover {
    color: #606264; }

.footer-block-icon {
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer-icon-twitter {
  background-image: url(../img/sprite/sprite.png);
  background-position: -213px -162px;
  width: 35px;
  height: 34px; }

.footer-icon-facebook {
  background-image: url(../img/sprite/sprite.png);
  background-position: -123px -162px;
  width: 35px;
  height: 34px; }

.footer-icon-3 {
  background-image: url(../img/sprite/sprite.png);
  background-position: -168px -162px;
  width: 35px;
  height: 34px; }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1250px) {
  .bicycles-description {
    padding-top: 60px;
    padding-right: 10px;
    padding-left: 10px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .bicycles-description {
    min-height: auto; }
  .section-about-us-block-title {
    padding-top: 50px;
    padding-bottom: 50px; }
  .bicycles-description {
    overflow: visible; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .cont-btn-top-menu {
    display: block; }
  .top-menu {
    background: rgba(25, 50, 33, 0.13);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; }
    .top-menu a {
      display: block; }
    .top-menu a:hover {
      background: rgba(255, 255, 255, 0.5); }
  .block-top-menu {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 50;
    top: -1000px;
    -webkit-transition: all .3s;
    transition: all .3s; }
  .block-top-menu-visible {
    opacity: 1;
    top: 0; }
  .logotype {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .logo-mobile-screen {
    display: block;
    margin-left: 20px; }
  .logotype {
    display: none; }
  .footer-block-icon {
    padding-top: 30px; }
  .section-mailing-form input[type="email"] {
    width: 300px; }
  .section-Twitter-carousel {
    padding-top: 30px;
    padding-bottom: 20px;
    min-height: 330px; }
  .owl-dots {
    padding-top: 30px; }
  .section-shop {
    padding-bottom: 50px; }
  .section-mailing {
    padding-bottom: 50px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .bicycles-description {
    padding-top: 70px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px; }
  .section-mailing {
    padding-bottom: 50px; }
  .section-mailing-form input[type="email"] {
    width: 200px;
    padding-left: 5px;
    padding-right: 5px; } }
